.form-container{
    width: 50%;
    margin: 0 auto;

}
.form-container input:not([type="checkbox"]){
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 50px;
    padding-left: 10px;
    font-size: 18px;
    margin-bottom: 15px;
    border-radius: 50px;
    background: linear-gradient(145deg, #ffffff, #e6e1e1);
    box-shadow:  20px 20px 60px #d9d5d5,
                -20px -20px 60px #ffffff;
}
.form-btn{
    font-weight: 500;
    color:#ffffff;
    padding: 7px 100px;
    background-color:rgba(47, 47, 160, 0.735) ;
    border-radius: 50px;
    display: block;
    margin: 2px auto;
}
.form-btn:hover{
    background-color:rgba(20, 20, 128, 0.735) ;
    padding: 9px 110px;
}